@using Activity3.Models
@model Tuple<List<CustomerModel>, CustomerModel>
@{
    Layout = "~/Views/Shared/_LayoutPage.cshtml";
    AjaxOptions ajaxOptions = new AjaxOptions
    {
        HttpMethod = "POST",
        InsertionMode = InsertionMode.Replace,
        UpdateTargetId = "customerInfo",
        OnSuccess = "ajaxSuccess"
    };
}
<title>@ViewBag.Title</title>

<body>
    @Html.Label("Please select a customer:")
    @using (Ajax.BeginForm("onSelectCustomer", "Customer", ajaxOptions))
    {
        @Html.AntiForgeryToken();
        var selected = false;
        foreach (var customer in Model.Item1)
        {
            if (Model.Item2 == customer) 
            { 
                selected = true; 
            }
            else 
            { 
                selected = false; 
            }
            @Html.RadioButton("CustomerNumber", customer.id, selected);
            @Html.Label(customer.name);
            <br />
        }
        <input type="submit" id="submitButton" value="Display Details" />
    }
</body>
    
<div id="customerInfo">
    @Html.Partial("~/Views/Shared/_CustomerDetails.cshtml", Model.Item2)
</div>

<script>
    $.post('@Url.Action("GetMoreInfo", "Customer")', { customer: 2 }, function (data) { alert(data); });
</script>