@model Activity3.Models.CustomerModel

<h3>Customer Details</h3>
@Html.DisplayNameFor(m => Model.name) : @Html.DisplayFor(m => Model.name)
<br />
@Html.DisplayNameFor(m => Model.age) : @Html.DisplayFor(m => Model.age)
<br />

<h2>Updated at @DateTime.Now</h2>
